#header
{
    //margin-top: 0.5%;
  	height:55px;
   	display: flex;
  	justify-content: center;
	align-items: center;
    background-color: var(--blue-main);
   //background-image: url('./images/logo.png');
}

#titreHeader
{
    margin-top: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin-right: 50px;
     /*background: url(./image/feu.png);    
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0); */
     
}

#logo
{
    margin-right: 2%;
    height: 48px;
    width: 48px;
}