<div class="container reponses">
    <div class="row">
        <div class="col-6" *ngFor="let reponse of reponses">
            <input [disabled]='bonneReponse' type="radio" name="reponseChoisi" [id]="'reponse_'+reponse.idReponse"
                [value]="reponse.idReponse" (click)="onGuess(reponse.idReponse)">
            <label class="reponse" for="reponse_{{reponse.idReponse}}"
                [ngClass]="(reponseChoisi === reponse.idReponse ? 'checked' : 'unchecked') + ' ' + (bonneReponse ? (bonneReponse === reponse.idReponse ? 'correct' : 'wrong') : '')">{{reponse.reponse}}</label>
        <span *ngIf="allGuess.has(reponse.idReponse)" >
            <span *ngFor="let username of allGuess.get(reponse.idReponse)">
                <img class="guessAvatar" [src]="'https://avatars.dicebear.com/api/avataaars/'+username+'.svg?skin=pale&style=circle'" alt="avatar">
            </span>
        </span>
        </div>
    </div>
</div>