input[type="radio"]{
    display: none !important;
}


.reponse{
    width: 100%;
    padding: 5px 20px;
    font-size: larger;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    cursor: pointer;
    text-align: center;
}

.reponse.checked{
    background-color: var(--blue-main);
}

.reponse.checked.correct{
    background-color: #3c953c !important;
}

.reponse.checked.wrong{
    background-color: #b02626 !important;
}

.reponse.unchecked.correct{
    border-color: #02ee02 !important;
    color: #02ee02 !important;
}


.reponses{
    background-color: #eeeeee2b;
    padding: 20px;
}

.reponses{
    .col-6{
        padding: 10px;
    }
}

.guessAvatar{
    width: 40px;
}