
<div *ngIf="!isOnLoginScreen" >
    <nav>
        <button id={{pageButton[0]}} (click)="buttonHome()">Accueil</button>
        <button *ngIf="isLoggedIn" id={{pageButton[1]}} (click)="buttonQuestionSolo()">Mode Solo</button>
        <button *ngIf="isLoggedIn" id={{pageButton[2]}} (click)="buttonQuestionSolo2()">Mode Solo timer</button>
        <button id={{pageButton[3]}} (click)="buttonScore()">Score Global</button>
        <button *ngIf="isLoggedIn" id={{pageButton[4]}} (click)="redirectRoom()" >Créer une salle</button>
        <button id={{pageButton[5]}} (click)="buttonAddQuote()">Ajouter une citation</button>
        <button id={{pageButton[6]}} (click)="buttonExit()"><span *ngIf="isLoggedIn">Quitter</span><span *ngIf="!isLoggedIn">Se connecter</span></button>
    </nav>
</div>

