/*input[type=button][id="0"] {
    background-color: var(--blue-main);
    color: white;
    font-size: large;
    padding: 0.2%;
    margin: 0.5%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 13%;
    &:hover {
    background-color: white;
    color: var(--blue-main);
    border: 0px solid #063470;
    }
}

input[type=button][id="1"] {
    background-color: #063470;
    color: white;
    font-size: large;
    padding: 0.2%;
    margin: 0.5%;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 13%;
    &:hover {
    background-color: white;
    color: var(--blue-main);
    border: 0px solid #063470;
    }
}*/

nav {
	position: relative;
	white-space: nowrap;
	background: var(--blue-secondary);
    //border-radius: 50vmax;
	padding: 0.2%;
    background-size: 10em;
	margin: 1%;
    text-align: center;
}

button[id="0"]{
    width: 13%;
    border: 0px solid #063470;
    padding: 0.2%;
    margin: 0.5%;
    position: relative;
    //padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    //margin: 1em 0.8em;
    color: white;
    &:after,
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: white;
        transition: all 0.3s ease;
        transform: scale(0.85);}
    &:hover:before{
        top: 0;
        transform: scale(1)}
    &:hover:after{
        transform: scale(1)}
}

button[id="1"]{
    width: 13%;
    border: 0px solid #063470;
    padding: 0.2%;
    margin: 0.5%;
    position: relative;
    //padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    //margin: 1em 0.8em;
      color: black;
      &:after,
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: black;
        transition: all 0.3s ease;
        transform: scale(0.85);}
      &:hover:before{
        top: 0;
        transform: scale(1)}
      &:hover:after{
        transform: scale(1)}
  }

div[id=consigne]{
    margin: 5%;
  }