<div id="container">
    <h1> Bravo {{pseudo}}, votre score à cette partie est de {{score}}<span *ngIf='is20Question'>/ 400</span></h1>
    <h1>Votre score a été ajouté à la table des scores.</h1>
    <h1>{{comment}}</h1>
</div>

