<div id="quest">
    <form [formGroup]="form" (ngSubmit)="addQuote()">
        <h1>Ajouter une citation</h1>
        <div>
            <label><b>Citation</b></label> <input type = "text" formControlName = "quote" required/> 
            <label><b>Reponse</b></label> <input type = "text" formControlName = "answer" required/> 
        </div>
        <input type="submit" id = 'submit' value="Ajouter" name="addq"/>
        <span *ngIf="message" class="message">{{message}}</span>
    </form>
</div>
