<div class="scoreboard">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Top</th>
                <th scope="col">Joueur</th>
                <th scope="col">Points</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let score of players; index as i">
                <td scope="row">{{i+1}}</td>
                <td>{{score.username}}</td>
                <td>{{score.score}}</td>
            </tr>
        </tbody>
    </table>

</div>
