.scoreboard{
    font-size: 2rem;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
}

table{
    box-shadow: 0px 0px 15px white;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    background-color: var(--blue-main);
}
.table > :not(caption) > * > * {
    border-bottom-width: 3px;
}

