#question
{
    text-align: center;
}

.container
{
    margin-top: 20px;
}

#align-left
{
    padding-top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
}

input
{
    //margin-left: 35%;
    display: flex;
    align-items: flex-start;
}

.temps{

    font-size: xx-large;
    padding-top: 1%;
    text-align: right;

}