<div class="container" *ngIf="!isEnd">
<div class="row" style="height: 250px">
    <div class="temps">
        <span *ngIf='isTimerMode'>Temps restant: {{fulltime}} ,</span><span *ngIf='!isTimerMode'>Question restantes: {{nbrQuestion}} ,</span> Score: {{score}}
        </div>

</div>
</div>
<div class="d-flex flex-column align-items-center" *ngIf="!isEnd">
    <h2 id="question">{{question.question}}</h2>

    <div class="container">

        <app-reponse [reponses]="reponses" [bonneReponse]="bonneReponse" (guess)="sendReponse($event)"></app-reponse>

        <div>
            <span *ngIf='bonneReponse' class="button" (click)="nextQuestion()">Suivant</span>
        </div>
        
    </div>
</div>
<app-page-score-solo *ngIf="isEnd" [score]="score" [is20Question]='!isTimerMode'></app-page-score-solo>