

:root{
    --blue-background: #063470;
    --blue-main: rgb(31, 105, 165);;
    --blue-secondary: rgb(41, 137, 215);
    --blue-dark: rgb(9, 41, 66);
}

body{
    background-color: var(--blue-background);
}

input{
    color:black;
}

*{
    color: white;
}



/** Custom button */
.button{
    padding: 5px 30px;
    display: inline-block;
    text-align: center;
    font-size: large;
    background-color: var(--blue-main);
    cursor: pointer;
}

.button:hover{
    background-color: var(--blue-secondary);
}

.button.dark{
    background-color: var(--blue-background);
}
.button.dark:hover{
    background-color: var(--blue-dark);
}