

/** Logo chargement de la room */
.big-loading{
    width: 200px;
    height: 200px;
    border-width: 10px;
}

/** Icon pour l'admin de la room*/
.adminIcon{
    width:20px;
    display: inline-block;
}

.game-col{
    min-height: 500px;
}

.section{
    background-color: var(--blue-main);
    height:100%;
    padding:10px;
}

/**Pseudo d'un joueur dans le scoreboard*/
.player{
    margin: 15px 10px;
}

.player.guessed{
    .username{
        color: #02ee02 !important;
    }
    .scoreboardAvatar{
        filter: drop-shadow(0px 0px 10px #02ee02);
    }
}


/*Section de configuration*/
.configuration-section{
    max-width: 500px;
    margin: auto;
}


.username{
    min-width: 100px !important;
    display: inline-block;
}

.scoreboardAvatar{
    width:55px;
    margin-right: 15px;
}

.errorMessage{
    color:lightcoral;
}