<div *ngIf="isLoading" class="mt-5 text-center">
    <div *ngIf="!errorMessage">
        <div class="big-loading spinner-border text-light" role="status">
            <span class="sr-only"></span>
        </div>
        <h1 class="mt-5">Loading room: {{idRoom}}</h1>
    </div>
    <div *ngIf="errorMessage">
        <h1 class="mt-5 errorMessage">Oops, {{errorMessage}}</h1>
    </div>

</div>



<div *ngIf="!isLoading" class="container mt-5">
    <div class="row">
        <div class="col-sm-9 game-col">

            <div class="game-section section">
                <div *ngIf="roomState === roomStateEnum.CONFIGURING">
                    <h1 class="text-center">Configuration de la partie</h1>
                    <div class="configuration-section mt-5">
                        <div class="row">
                            <div class="col-5">
                                Points à atteindre ({{maxScore}})
                            </div>
                            <div class="col-5">
                                <input #maxScoreInput type="range" class="form-range" min="5" max="50" step="1"
                                    (input)="onChangeMaxScore($event)" [disabled]="!isAdmin">
                            </div>
                        </div>
                        <div class="text-center mt-5">
                            <span *ngIf="isAdmin" class="button dark" (click)="onStartClick()">LANCER</span>
                        </div>
                        <div class="text-center mt-5">
                            <span class="button dark" (click)="onInviteClick()">INVITER DES AMIS</span>
                            <div *ngIf="isInviteClicked">Lien copié !</div>
                        </div>
                    </div>
                </div>

                <div *ngIf="roomState === roomStateEnum.PLAYING">
                    <h1>{{question.question}}</h1>
                    <app-reponse [allGuess]="allGuess" [bonneReponse]="bonneReponse" [reponses]="reponses" (guess)="onGuessClick($event)"></app-reponse>
                </div>

                <div *ngIf="roomState === roomStateEnum.END">
                    <app-scoreboard [players]="scoreboardEnd"></app-scoreboard>
                    <span *ngIf="isAdmin" class="button dark" (click)="onReStartClick()">Rejouer</span>
                </div>

            </div>


        </div>

        <div class="col-sm-3 scoreboard-">
            <div class="scoreboard-section section">
                <div *ngFor="let player of scoreboard" [ngClass]="'player '+(player.guessed ? 'guessed' : '')">
                    <span class="adminIcon">
                        <ic-icon *ngIf="player.id === adminID" [icon]="adminIcon"></ic-icon>
                    </span>
                    <img class="scoreboardAvatar" [src]="'https://avatars.dicebear.com/api/avataaars/'+player.username+'.svg?skin=pale&style=circle'" alt="">
                    <span class="username">
                        {{player.username}}
                    </span>
                    <span>
                        {{player.score}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>