.presentation{
    h1{
        font-size: 3rem;
        margin-bottom:2rem;
    }
    h3{
        font-size: 2.2rem;
    }
    p{
        margin-top:3rem;
        font-size: 2rem;
    }

    li{
        margin-bottom: 1rem;
    }

    .nous{
        font-size: 1.5rem;
        color: lightgrey;
    }

    margin: 5rem;
}

