
<div class="presentation">
    <h1>Projet PIMA </h1>
    
    <h3> Voici les règles de QuIIzE:</h3>

    <p>
        <li><b>Mode Solo</b>: Ce mode permet de repondre à une serie de question dont score dépend tu temps de réponse</li>
        <li><b>Mode Solo timer</b>: le but de ce mode est de répondre à un maximum de question en un temps limité</li>
        <li><b>Mode mulitijoueur</b>: vous pouvez créer une salle (en cliquant sur l'onglet "Créer une salle") ou en rejoindre une (par un lien d'invitation).
            Ce mode permet de jouer avec vos amis, le but étant de répondre à un nombre de fixe de question définit par le créateur de la salle. L'ordre des
            questions reste identique pour tout les joueurs et vous passez automatiquement à la question suivante si tout le monde a répondu.</li>
    </p>

    <p class="nous">
        Réalisé par Adrien NUNES, Alexis ROVILLE, Arthur AUDRAIN, Asif ABDOURRAHIMANE, Gabriel REBOUL, Romain RAPALLINI, Yambsell ALOUANE
    </p>
</div>

