

<div id="container">
    <!-- zone de connexion -->
    <div class="play-form">
        <form (ngSubmit)="onPlay()">
            <h1>Choisis ton pseudo : </h1>
        
            <label><b>Pseudo</b></label>
            <input #username type="text" placeholder="Entre ton pseudo" name="username" (change)="check()" required>
    
            <!-- input type="submit" id='submit' value='Jouer !' [disabled]="!isValid" -->
            <span class="button dark login-button" (click)="onPlay()">Jouer !</span>
    
            <span class="error" *ngIf="error">{{error}}</span>
    
        </form>
    </div> 
</div>


