#container{
    opacity: 1;
    width:450px;
    margin:0 auto;
    margin-top:8%;


}
/* Bordered form */
.play-form {
    color: white;
    width:100%;
    padding: 30px;
    border: 2px solid #030303;
    background: var(--blue-main);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 76%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: xx-large;
}

label {
    font-size: large;
}

/* Full-width inputs */
input[type=text] {
    background: rgb(231, 230, 230);
    width: 100%;
    height: 45px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 25px;
    margin-top: 10px;
}

.login-button{
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

.error{
    color: lightcoral;
}
